body{
    margin: 0;
}

}
.picture{
    width: 300px;
}
.gallery{
    column-count: 4;
    column-width: 200px;
    column-gap: 15px;
    
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
.gallery__img{
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
}